@import "tailwindcss";

:root {
  --primary-color: #474747;
  --secondary-color: #ff6347;
  --font-color-light:#737865;
  --gray-color:#DBDFD0;
  --light-gray-color:#F5F5F5;
  --brown-color:#AD343E;
  --main-font: "DM Sans", sans-serif;
  --secondary-font: "Playfair Display", sans-serif;
  
}

body {
  font-family: var(--main-font);
}

